node_modules
.env
.env.*
/public
Rekapitulas_KAS_Uang_Keluar_Clean.xlsx
Rekapitulasi_KAS_Uang_Masuk_Clean.xlsx
Rekapitulasi_TPQ_Keluar_Clean.xlsx
Rekapitulasi_TPQ_Masuk_Clean.xlsx
Rekapitulasi_Yatim_Keluar_Clean.xlsx
Rekapitulasi_Yatim_Masuk_Clean.xlsx
import_tpq_keluar_to_db.py
import_tpq_masuk_to_db.py
import_yatim_keluar_to_db.py
import_yatim_masuk_to_db.py
import_uang_keluar_to_db.py
import_uang_masuk_to_db.py
dist/
build/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
import_uang_masuk_to_db_januari2026.py
KAS_Januari_2026_Masuk.xlsx
TOTAL_Uang_Keluar_Jan_Jun_2026.xlsx
TOTAL_Uang_Masuk_Jan_Jun_2026.xlsx
import_uang_masuk_to_db_2026.py
import_uang_keluar_to_db_2026.py
